* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    padding-top: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #888;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

p {
    line-height: 1.5em;
}

hr {
    border: 1px solid lightgray;
    margin-left: 20px;
    margin-right: 20px;
}

/* UTILITIES */
.container {
    max-width: 1200px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-L {
    float: left;
}

.w50 {
    width: 50%;
}

.btn {
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.btn.btn-green {
    background-color: #7BBC00;
    border-color: #7BBC00;
}

.btn.btn-large {
    padding: 20px;
}

.col {
    padding: 60px 40px;
}

/* HEADER */
.main-header.fixed {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;

}

.main-header {
    background-color: #0D325A;
    line-height: 80px;
    text-transform: uppercase;
    font-size: 12px;
}

.main-header .container .logo{
    width: 15%;
}

.main-header .container .logo img{
    vertical-align: middle;
    position: relative;
    bottom: 5px;
}

/* main nav */

.main-nav {
    width: 45%;
}

.main-header ul {
    display: inline-block;
}

.main-header ul li {
    display: inline-block;
    margin-right: 20px;
}

.main-header ul li:last-child{
    margin-right: 0;
}

.main-header a,
a.btn {
    text-decoration: none;
    color: #eee;
}

.main-header li a:not(.btn):hover {
    color: #7BBC00;
}

.main-header a.btn {
    line-height: 1;
}

.nav-right {
    width: 40%;
    text-align: right;
}

/* MAIN */
/* Hero */
.hero {
    height: 480px;
    background-color: #0D325A;
    background-image: url('../img/background-header.png');
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 120% 110%;
}

.hero .container{
    height: 100%;
}

.main-title {
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.main-title h1 {
    font-size: 48px;
    margin-bottom: 40px;
}

/* Sec Gray */
.gray-sec {
    background-color: #D3D3D3;
    text-align: center;
    padding: 40px;
}

.gray-sec h2,
.two-col h2,
.inglese-davvero h2{
    color: black;
    margin-bottom: 20px;
}

/* Section three columns */
.three-col .col {
    text-align: center;
    width: calc(100%/3);
    /* padding: 40px; */
}

.three-col img {
    height: 150px;
    margin-bottom: 25px;
}

.three-col h2 {
    color: #7BBC00;
}

.three-col .col hr{
    display: inline-block;
    border: 1px solid lightgray;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 15px;
}

/* section two columns */
/* .two-col .col {
    padding: 40px;
} */

.two-col h2,
.struttura-piano h2 {
    font-size: 32px;
    color: black;
}

.two-col p,
.inglese-davvero p {
    margin-bottom: 20px;
}

.two-col a{
    color: #5D8BBE;
}

.struttura-piano {
    background-color: #D3D3D3;
    padding: 50px;
}

.struttura-piano span {
    font-weight: bold;
    margin-right: 25px;
}

.struttura-piano span:nth-child(2){
    text-decoration: underline;
}

.struttura-piano .container .float-L:nth-child(2) {
    text-align: right;
}

/* Section Inglese davvero */
.inglese-davvero .btn {
    font-size: 12px;
}

.inglese-davvero span.w50 {
    padding-left: 5px;
    text-align: center;
    color: #BAC9CE;
    font-size: 17px;
}















/* footer */
footer .btn.fixed {
    position: fixed;
    bottom: -5px;
    right: 50px;
}